$theme-blue-100: #e6f5ff;
$theme-blue-200: #addfff;
$theme-blue-300: #75c9fe;
$theme-blue-400: #3db3fd;
$theme-blue-500: #059DFC;
$theme-blue-600: #0379c4;
$theme-blue-700: #02568b;
$theme-blue-800: #013352;

$theme-gray-100: #f1f2f3;
$theme-gray-200: #d1d3d7;
$theme-gray-300: #b1b5ba;
$theme-gray-400: #91979d;
$theme-gray-500: #717980;
$theme-gray-600: #575e65;
$theme-gray-700: #3e4348;
$theme-gray-800: #25282b;
$theme-gray-900: #0c0d0e;

$theme-electric-500: #53F4FF;
$theme-sunglow-500: #ffa537;

$theme-error-400: #f77d89;
$theme-error-500: #F55969;
$theme-error-600: #bd434f;