@mixin frame {
    display: flex;
    flex-direction: column;
    border: solid 1px $theme-gray-200;
    padding: 1rem;
    gap: 0.5rem;
    width: min-content;
}

@mixin bignumber($theme-1: $theme-blue-500, $theme-2: $theme-gray-700, $weight: 800) {

    @include frame;

    .number-item {
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        justify-content: space-between;
        code, span {
            font-size: 1rem;
            font-weight: 500;
        }
        code {
            font-weight: 900;
        }
        &.big {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            code {
                font-size: 3.5rem;
                font-weight: $weight;
                line-height: 2.75rem;
                align-self: flex-end;
            }
            span {
                font-size: 1.3rem;
                font-weight: $weight;
                align-self: flex-end;
            }
        }
        color: $theme-1;
        span {
            color: $theme-2;
            text-align: right;
        }
    }

    .number-small-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
    }
}
   